*{
    background-color: #f5f8ff;
}
/* nav */
nav{
    max-height: 82px;
    max-width: 1140px;
    margin : 30px 150px 0 150px; 
      
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-img{
    max-width: 135px;
    max-height: 82px;
}
.menu ul{
    display: flex;
    gap: 40px; 
}
/* banner */
.banner{
    margin: 120px 150px 0px 150px;
    max-height: 461px;
    max-width: 1140px;
    display: flex;
    align-items: center;
}
.banner-text{
    max-height: 299px;
    max-width: 570px;
    padding-top: 155px;
   
}
.banner-text>h3{
     font-size: 45px;
    font-weight: bold;
}
.banner-img{
    max-height: 355px;
    max-width: 570px;
    
}
/* header responsive */
@media  screen and (max-width:576px) {
    nav{
        max-height: 38px;
        max-width: 361px;
        margin: 67px auto 0px auto;
        position: relative;
        z-index: 10;
        
    }
    .nav-img{
        max-height: 38px;
        max-width: 63px;
    }
    
    .menu{
        max-height: 24px;
        max-width: auto;

    }
    .banner{
    margin: 55px 0 0 0 ;
    padding: 0;
    flex-direction: column-reverse;
    max-height: auto;
    max-width: 576px;
 
    }
    .banner-text{
    max-height: 147px;
    max-width: 576px;
    padding: 28px 16px;
    font-size: 14px;
   
    }
    .banner-text>h3{
        max-width: 250px;
        font-size: 24px;
    }
    .banner-img{
   
    max-width:100%;
    height: auto;
  display: block;
       
    }

}